<h1><%= @listing.address %></h1>
<%= @listing.price %>
<%= @listing.bedrooms %>
<%= @listing.bathrooms %>

<form method="post" action="/listings/<%= @listing.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" />
</form>