
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Specific Listing</title>
 </head>
 <body>

  <h2>Address: <%= @listing.address %></h2>
  <h2>Price: <%= @listing.price %></h2>
  <h2>Bedrooms: <%= @listing.bedrooms %></h2>
  <h2>Bathrooms: <%= @listing.bathrooms %></h2>

 </body>
 
</html>
<form action="/listings/<%= @listing.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<br>


<a href= '/listings'>Back To Listings</a><br>

<a href="/logout">Log Out</a>

